

<div class="welcome">
    
    <div class="container">
        <div class="card text-center welcome-box">
            <div class="card-body">
                <h1 class="card-title">Update Profile</h1>
                <hr>
                <%= render 'form'%>
                <%= link_to "Delete account", user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>  
            </div>
         </div>
     </div>
</div>