

<div class="welcome">
    
    <div class="container">
        <div class="card text-center welcome-box">
            <div class="card-body">
                <h1 class="card-title">New Post</h1>
                <hr>
                <%= render 'form'%>
            </div>
         </div>
     </div>
</div>









