<div class="welcome-box">
<div class="card h-100" style="width: 18rem;">
    <img src="<%=(url_for(@post.image))%>" class="card-img-top">
    <div class="card-body">
        <p class="card-text">
            <%=@post.caption%>
        </p>
        <%=link_to "Edit", edit_post_path(@post.id) %>
    </div>
</div>
</div>